html,
body {
  height: 100%;
}

body {
  -webkit-backface-visibility: hidden;
  min-width: 320px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.site-width {
  max-width: 1250px;
  margin: 0 auto;
}

.site-content {
  text-align: center;
}

%content-block {
  @extend .site-width;
  padding: 5em 0;
}
