<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Front-end New York is a monthly developer meetup in New York hosted by Made by Many and Percolate.">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title><%= data.page.title || "Front-end New York" %></title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="<%= page_classes %>">