<footer class="site-footer">
  <div class="site-footer__container">

    <div class="site-footer__desc">
      <p>Front-end New York is a free event hosted by <a href="http://madebymany.com" target="_blank">Made by Many</a> &amp; <a href="http://percolate.com" target="_blank">Percolate</a> that's dedicated to the ever changing world of front-end design and development.</p>

      <p>If you're interested in speaking at a future event, please <a href="mailto:frontendnewyork@madebymany.com">get in touch with us</a> with a synopsis of your talk.</p>
    </div>

    <div class="site-footer__sponsors">
      <span class="site-footer__from">Brought to you by:</span>
      <a href="http://percolate.com" target="_blank"><%= image_tag "percolate.png" %></a>
      <a href="http://madebymany.com" target="_blank"><%= image_tag "made-by-many.png" %></a>
    </div>

  </div>
</footer>