<header class="site-header">
  <div class="site-header__wrap">
    <div class="site-header__primary site-width">
      <a href="/" class="site-logo">
        <span class="site-logo__wrap">Front-end New York</span>
      </a>
    </div>

    <%= yield_content :in_header %>
  </div>
</header>