---
title: Front-end New York - A free evening meetup brought to you by Made by Many and Percolate
---

<% content_for :in_header do %>
  <section class="site-header__secondary site-width">
    <div class="next-event-details">
      <span class="next-event-date">November 5, 2013</span>
      <span class="next-event-time">7pm - 9.30pm</span>
    </div>

    <a href="#tickets" class="cta--white site-header__cta">
      Get a ticket
    </a>
  </section>
<% end %>

<section class="introduction">

  <div class="introduction__container">
    <h2 class="section-title">About #FENY</h2>

    <p>#FENY is a <strong>free evening meetup</strong> hosted by <a href="http://madebymany.com" target="_blank">Made by Many</a> &amp; <a href="http://percolate.com" target="_blank">Percolate</a> that's dedicated to the ever changing world of front-end design and development.</p>

    <p>We aim to cover a wide variety of topics such as <strong>CSS, Sass / LESS, RWD and JavaScript</strong>, with thought-provoking talks from some exceptional designers and developers.</p>

    <p>It's the American cousin of <a href="http://frontendlondon.co.uk" target="_blank">Front-end London</a>, which we've been running at Made by Many for the last 9 months. We're aiming to build a friendly community here in NYC for designers and developers to come and share their experiences and best practises.</p>
  </div>

</section>

<section id="speakers" class="speakers">
  <div class="speakers__container">
    <h2 class="section-title">Speakers</h2>

    <ul class="speakers-list">
      <li class="speaker">
        <div class="speaker__information">
          <%= image_tag "speakers/2013/11/scott.jpg" %>
          <h2 class="speaker__name">Scott Kellum</h2>
        </div>

        <div class="speaker__blurb">
          <h3 class="speaker__talk-title">Color meet code</h3>
          <p>
            Frameworks have been built around every imaginable layout problem but frameworks for color remained largely unexplored. With CSS this was largely impossible, but with variables and color functions in Sass we can build entire color schemes based on simple color math. In this talk I will go over how color works, the math behind it, the functions available, and how to fully integrate color systems into your site.
          </p>
        </div>

      </li>

      <li class="speaker">
        <div class="speaker__information">
          <%= image_tag "speakers/2013/11/clare.jpg" %>
          <h2 class="speaker__name">Clare Evans</h2>
        </div>

        <div class="speaker__blurb">
          <h3 class="speaker__talk-title">Letting Yeoman do the Grunt work</h3>
          <p>
            Through a series of high-risk live demos: development; testing; and deployment processes will be demonstrated to show how modern tooling can vastly improve our productivity on the front end.
          </p>
          <p>
            If you don't know your Yeoman from your "Yo man" then this is your chance to learn about cutting edge techniques including distributed unit testing, visual regression testing and more, to see how they can improve your day-to-day workflow and ensure future happiness.
          </p>
        </div>
      </li>

      <li class="speaker">
        <div class="speaker__information">
          <%= image_tag "speakers/blank.png" %>
          <h2 class="speaker__name">TBC</h2>
        </div>

        <div class="speaker__blurb">
          <h3 class="speaker__talk-title">TBC</h3>
          <p>
            Synopsis coming soon
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="location" class="location">
  <div class="location__container">
    <h2 class="location__details"><strong>Percolate</strong>, 2nd Floor, 107 Grand Street, NY, 10013</h2>
  </div>

  <div id="js-gmap"></div>
</section>

<section id="tickets" class="tickets">
  <div class="tickets__container">
    <h2 class="section-title tickets__title">Tickets</h2>
    <p>Tickets are <strong>free</strong> and are available through Eventbrite.</p>

    <a href="http://feny-1.eventbrite.com" class="cta--white tickets__cta">Get a ticket</a>

    <a href="http://eepurl.com/GIx4r" class="mailing-list">To make sure you don't miss an event, register for our mailing list</a>
  </div>
</section>